body {
  background-color: #FFFFFF;
  font-family: times;
  font-size: 11pt;
  width: 600px;
  margin-left:50px;
}

nav {
  padding-bottom: 10px;
}

h1 {
  font-size:25pt;
  font-style:italic;
  line-height: normal;
  letter-spacing: 1pt;
  font-weight: normal;
}

nav a {
  text-decoration: underline;
  text-transform: lowercase;
  color: #000000;
}

nav a:hover, a:focus{
  background-color: #0D1A80;
  color:#FFFFFF;
}

.current{
  background-color: #0D1A80;
  text-transform: uppercase;
  color:#FFFFFF;
}

.post-title{
  font-size: 12pt;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom:20px;
}

.poem-body{
  width: 300px;
}

#main{

}
